
section {
	z-index:100;
}

:root {

    --max-content-width: 1440px;

    --color-primary-blue:#323864;
    --color-primary-orange:#FF815A;

    --color-dark-text: #333333;
    --color-light-text: #666666;
    --color-extra-light-text: #cccccc;

    --body-font-size: 16px;
}

html,
body {
    height:100%;
    scroll-behavior: smooth;
    width:100%;
    padding:0;
    margin:0;
    font-size: var(--body-font-size);
    color:var(--color-);
    background-color:var(--color-primary-blue);
    font-family: 'Raleway', sans-serif;
    box-sizing:border-box;
}

h1 {
    font-size:64px;
    font-weight:700;
    margin: 50px 0;
    text-align:center;
    font-family: 'Raleway', sans-serif;

}

h2 {
    font-size:48px;
    font-weight:700;
    margin: 50px 0;
    text-align:center;
    font-family: 'Raleway', sans-serif;

}

h3 {
    font-size:32px;
    font-family: 'Raleway', sans-serif;
    font-weight:700px;
}

h4 {
    font-size:24px;
}
h5 {
    font-size:16px;
}

p {
    line-height: 140%;
    font-family: 'Roboto', sans-serif;
    color:var(--color-light-text);
}

.ul {
    margin:0;
    padding:0;
    .li {
        list-style:none;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;    
    button {
        font-family: 'Raleway', sans-serif;
        background:transparent;
        padding:15px 30px;
        border:none;
        font-size:18px;
        color:var(--color-light-text);
        border-bottom:4px solid transparent;
        cursor:pointer;
        &.active {
            font-weight:bold;
            border-bottom:4px solid var(--color-primary-blue);
            color:var(--color-primary-blue);
        }
    }
}

.btn {
    border:0;
    font-size: 14px;
    font-weight: medium;
    cursor: pointer;
    white-space:nowrap;
    border-radius:7px;
    transition: 0.2s;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    &.btn-primary {
        color:#fff;
        background-color:var(--color-primary-orange);
        &:hover {
            background-color:#fff;
            color:var(--color-primary-blue);
        }
    }
    &.btn-special {
        background-color:transparent;
        color:#fff;
        font-size:24px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        padding-right:60px;
        background-image:url(images/arrow-right-circle_24px.svg);
        background-position: 150px center;
        background-repeat:no-repeat;
        position: absolute;
        bottom: 120px;
        right: 0;
        &:hover {
            background-position: 170px center;
        }
    }
    &.link {
        padding:0;
        font-size:var(--body-font-size);
    }
    &.btn-small-text {
        background-color:transparent;
        color:var(--color-primary-orange);
        font-size:16px;
        font-weight: bold;
        padding:0;
        margin-top: auto;
        align-self: flex-start;
        padding-right:60px;
        background-image:url(images/arrow-right-orange_24px.svg);
        background-position: 60px center;
        background-repeat:no-repeat;
    }
}

.hamburger {
    display:none;
    border:none;
}

.wrapper {
    max-width:var(--max-content-width);
    width:100%;
    height:100%;
}

// add a max width and center the outer shell on the screen
header,
section,
footer,
.section_hero {
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:0 8.333333333%;
    
}

.footer {
    .phone {
        margin-right: 30px;
    }
}

.logo {
    margin:0;
    background:url(images/logo.svg) top center no-repeat;
    background-size:contain;
    transition: 0.2s;
    width:222px;
    min-width:222px;
    height:100px;
    span {
        display:none;
    }
}

.header_main {
    background: var(--color-primary-blue);
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
    top:0;
    position:fixed;
    transition: 0.2s;
    left:0;
    right:0;
    z-index:100;
    .wrapper {
        display:flex;
        justify-content:space-between;
        align-items:center;
        transition: 0.2s;
        height:150px;
        
        .nav_main {
            flex-grow: 1;
            margin: 0 12%;
            transition: 0.2s;
            display: flex;
            justify-content: space-between;
            font-family: 'Roboto', sans-serif;
            a {
                color:#fff;
                cursor:pointer;
                text-decoration:none;
                padding-top: 10px;
                padding-bottom: 5px;
                border-bottom: 5px solid transparent;
                &.on{
                    color:#fff;
                    font-weight:bold;
                    border-bottom: 5px solid var(--color-primary-orange);
                }
                &:hover {
                    color:var(--color-primary-orange);
                }
            }
        }
    }
    &.small {
        .wrapper {
            height:75px;
            .logo {
                width:147px;
                min-width:147px;
                height:52px;
                margin: 18px 0;

            }
            .nav_main {
                margin: 0 13%;
                font-size:18px;
                max-width:600px;
                a {
                    padding-top:5px;
                    &.on {
                        border-bottom: 3px solid var(--color-primary-orange);
                    }
                }
            }
            .btn-phone {
                font-size: 14px;
                font-weight:500;
            }
        }

    }
}

.container {
    padding-top:150px;
    background:var(--color-primary-blue);
}

.section_hero {
    background:url(images/hero-bg.png) no-repeat center center;
    background-size:cover;
    height:760px;

    .headline {
        margin-top:0;
        margin-bottom:80px;
        color:#fff;
    }
    h1 {
        text-align:left;
        font-weight:bold;
        color:#fff; 
        margin-top: 130px;
        margin-bottom: 30px;
        span {
            color:var(--color-primary-orange);
        }
    }
    .wrapper {
        display:flex;   
    }
    .col {
        width:50%;
        position:relative;
        height:100%;
    }
    .col1 {
        color:#fff;
    }
}


.section_about {
    background-color:#fff;
    padding-bottom:100px;
    text-align:center;
    padding:0;
    h2{
        margin:110px auto 25px;
        max-width:700px;
        padding: 0 8.333333333%;
    }
    p{
        margin:0 auto 70px;
        max-width:700px;
        padding: 0 8.333333333%;
    }
    .pane-strip {
        display:flex;
    }
    img{
        width:100%;
    }
    .img1 {
        width:45.347222222%;
    }
    .img2 {
        width:32.986111111%;
        margin:0 .972222222%;
    }
    .img3 {
        width:19.722222222%;
    }
    
}

.section_dobest {
    padding-top:120px;
    background:#fff;
    a {
        text-decoration: none;
        &:hover {
            .btn-small-text {
                background-position: 80px center;
            }
            .card {
                // background:var(--color-primary-blue);
                // h3,
                // p {
                //     color:#fff;
                // }
                .image-box {
                    img {
                        width:130%;
                    }
                }
            }
        }
    }
    .wrapper{
        display:flex;
        justify-content:center;
        h1 {
            margin: 0 70px 30px 0;
            text-align:left;
        }
        p {
            margin:0;
            padding:50px 0 30px 30px;
        }
        .col1{
            margin-right:16px;
            width:400px;
        }
        .col2 {
            width:400px;
        }
    }
    .card{
        border:1px solid var(--color-primary-blue);
        background:#fff;
        height:400px;
        // transition:.2s;
        overflow: hidden;
        width:400px;
        border-radius:8px;
        margin-bottom:16px;
        display:flex;
        flex-direction:column;
        text-decoration:none;
        h3{
            margin:0 0 20px;
            color:var(--color-dark-text);
        }
        p {
            padding:0;
            color:var(--color-light-text);
        }
        .image-box {
            display:flex;
            align-items:center;
            justify-content:center;
            overflow:hidden;
            width:100%;
            max-width:100%;
            height:106px;
            img {
                width:102%;
                transition:.2s;
            }
        }
        .card-content {
            padding:40px;
            display: flex;
            flex-direction: column;
            flex-grow:1;
        }
    }
}

.section_testimonial {
    background:#fff;
    padding:0;
    padding-top:80px;
    .wrapper {
        display:flex;
        background:#F4F8FF;
    }
    .col {
        width:50%;
    }
    .col1{
        &:before {
            content:'';
            height:100%;
            width:45%;
            display:inline-block;
            background-color:var(--color-primary-blue);
        }
        img {
            width:65%;
            margin:115px 0;
            margin-left:-25%;
            display:inline-block;
        }
    }
    .col2 {
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            padding-right:16%;
            color:var(--color-primary-blue);
            margin-top:80px;
        }
    }
}

.section_latest {
    background:#fff;
    h2{
        margin:110px auto 25px;
        max-width:700px;
        text-align:center;
        padding: 0 8.333333333%;
    }
    p{
        margin:0 auto 70px;
        max-width:700px;
        text-align:center;
        padding: 0 8.333333333%;
    }
    .gallery {
        margin-top:50px;
        margin-bottom:80px;
        display:flex;
        img{
            width:100%;
        }
        .col1.box1{
            width:32.467532467%;
            margin-right:01.298701298%;
            background-image:url(/images/latest-vinyl-1.png);
            background-size:cover;
            overflow:hidden;
        }
        .col2{
            width:66.233766233%;
            display:flex;
            flex-direction:column;
            .row1{
                display:flex;
                width:100%;
                margin-bottom:01.960784313%;
                .col1 {
                    width:49.019607843%;
                    height:100%;
                    background:#485282;
                    margin-right:01.960784313%;
                    color:#fff;
                    font-size:24px;
                    font-weight: bold;
                    font-family: 'Raleway', sans-serif;
                    h5{
                        color:rgba(255,255,255,.4);
                        padding:0 10%;
                        margin-top:20%;
                    }
                    p{
                        font-size:24px;
                        color:#fff;
                        font-family: 'Raleway', sans-serif;
                        padding:0 10%;
                        text-align: left;
                        margin-bottom:0;
                    }
                }
                .col2.box3 {
                    width:49.019607843%;
                    background-image:url(/images/latest-vinyl-3.png);
                    background-size:cover;
                    overflow:hidden;
                }
            }
            .row2.box2 {
                width:100%;
                background-image:url(/images/latest-vinyl-2.png);
                background-size:cover;
                overflow:hidden;
            }
        }
    }
    .mobile_col1{
        display:none;
        background:#485282;
        color:#fff;
        font-size:24px;
        font-weight: bold;
        margin-top:20px;
        font-family: 'Raleway', sans-serif;
        padding:60px 30px;
        h5{
            color:rgba(255,255,255,.4);
            margin-top:0;
            margin-bottom:20px;
            padding: 0 8.333333333%;
        }
        p{
            font-size:24px;
            color:#fff;
            font-family: 'Raleway', sans-serif;
            text-align: left;
            margin-bottom:0;
            padding: 0 8.333333333%;
        }
    }
}



.section_style {
    background:#fff;
    padding-bottom:100px;
    h2{
        margin:110px auto 40px;
        max-width:700px;
        text-align:center;
        padding: 0 8.333333333%;
    }
    .style-card-wrap {
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
    }
    .style-card {
        width:49.35064935%;
        margin-bottom:16px;
        display:flex;
        min-width:500px;
        border-radius:8px;
        overflow:hidden;
        box-shadow:20px 20px 60px rgba(193,193,193,.35);
        .btn-small-text {
            background-position:90px center;
        }
        .col1 {
            height: 272px;
        }
        .col2{
            padding: 24px 30px;
            display: flex;
            flex-direction: column;
            .btn{
                .btn-small-text{
                    margin-top: auto;
                    align-self: flex-start;
                }
            }
        }
        h4 {
            margin:0;
        }
        p {
            color: var(--color-light-text);
        }
        // max-width:;
        // min-width:;
    }
}

.section_contact {
    background-color:var(--color-dark-blue);
    color:#fff;
    padding-bottom:100px;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form {
        display: flex;
        flex-direction: column;
        width:100%;
        max-width:650px;
        label {
            margin-bottom:10px;
        }
        input,
        textarea {
            font-size:18px;
            padding:15px;
            border-radius:4px;
            border:0;
            margin-bottom:30px;
        }
    }
}


.footer {
    text-align:center;
    background:var(--color-primary-blue);
    color:#fff;
    padding-top:75px;
    padding-bottom:75px;
    .wrapper {
        display:flex;
        justify-content:space-between;
        .logo {
            height:75px;

        }
        .col2{
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                color:#fff;
                text-decoration:none;
                &.link-phone{
                    padding-left:40px;
                    background:url(images/phone-small.svg) no-repeat left center;
                }
                &.link-email{
                    padding-left:40px;
                    background:url(images/email-small.svg) no-repeat left center;
                }
            }
        }
    }
}

.mobile_nav_wrapper {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.5);
    z-index:200;
    display:none;
    .nav_mobile {
        background: var(--color-primary-blue);
        position:absolute;
        top:0;
        bottom:0;
        left:-100%;
        transition: left .2s;
        padding:30px;
        display:flex;
        flex-direction:column;
        width: 65%;
        box-sizing: border-box;
        align-items:unset;
        &.open {
            left:0;
        }
        a {
            padding: 15px 20px;
            color:#fff;
            line-height:26px;
            padding-left:10%;
            &::before {
                content:'';
                width:5px;
                background:transparent;
                margin-right:9px;
                height:24px;
                float:left;
            }
            &.on {
                font-weight:700;
                &::before {
                    background:var(--color-primary-orange);
                }
            }
        }
        .logo {
            background: url(images/logo.svg) top left no-repeat;
            background-size: 100%;
            height: 95px;
            width: 100%;
            margin-bottom: 30px;
            max-width: 200px;
            align-self: center;
            min-width:unset;
        }
        .bottom-buttons {
            margin-top:auto;
            .btn {
                width:100%;
                text-transform: uppercase;
            }
            .btn-phone {
                display:none;
                color:#fff;
                padding-left:30px;
                background:url(images/phone-small.svg) no-repeat 20px center;
            }
            .btn-primary {
                color:#fff;
                margin:15px 0 0;
            }
        }
    }
    
}

@media screen and (max-width: 1200px) {
    .section_style .style-card-wrap {
        justify-content: center;
        .style-card {
            max-width:720px;
            width:auto;
        }
    }
    .section_latest .gallery .col2 .row1 .col1 p {
        font-size:18px;
    }
}

@media screen and (max-width: 1100px) {

    // :root {
    //     --body-font-size: 18px;
    // }

    h1,
    .section_hero h1 {
        font-size:48px;
    }

    .header_main .wrapper .logo {
        width:150px;
        height: 53px;
        min-width:150px;
        
    }

    .header_main .wrapper .nav_main,
    .header_main.small .wrapper .nav_main {
        font-size:16px;
        margin:0 6%;
    }

}

@media screen and (max-width: 880px) {

    .section_latest .gallery .col2 .row1 .col1 {
        display:none;
    }
    .section_latest .gallery .col2 .row1 .col2.box3{
        width:100%;
    }

    .section_latest .gallery .col2{
        width: 51.968503937%;
    }
    .section_latest .gallery .col2 .row1{
        margin-bottom: 6.960784%;
    }
    .section_latest .gallery .col1.box1{
        width: 44.35695538%;
        margin-right:03.41207349%;
    }

    .section_latest .gallery .box2 img {
        width: 137%;
    }

    .section_dobest .wrapper .col1{
        margin-right:0;
    }
    .section_latest .mobile_col1{
        display:block;
    }

    .section_latest .gallery {
        margin-top:18px;
    }

    header,
    section,
    footer {
        padding-left:30px;
        padding-right:30px;
        .wrapper {
            max-width:var(--max-content-width);
            width:100%;
        }
    }
    .hamburger {
        background: url(images/hamburger.svg) no-repeat center center;
        height: 22px;
        background-size: 100%;
        width: 24px;
        display: block;
    }
    .header_main .wrapper .btn-phone {
        height: 30px;
        width: 30px;
        padding: 0;
        background-position: center;
        background-color:transparent;
        background-image:url(images/phone.svg);
        background-repeat:no-repeat;
        background-position:center center;
        background-size:100%;
        span {
            display:none;
        }
    } 
    .header_main .wrapper .nav_main {
        display:none;
    }
    .section_hero {
        .wrapper {
            flex-direction:column;
            .col {
                width:100% !important;
                p {
                    max-width:400px;
                }
            }
        }
    }

    .section_latest .gallery .col2 .row1{
        flex-direction:column;
    }

    .section_dobest .wrapper {
        flex-direction:column;
        align-items: center;
    }

    nav{
        justify-content: space-between;
        padding-left:20px;
        padding-right:20px;
        button {
            padding:15px 3%;
            font-size:14px;
        }
    }

    .section_testimonial .wrapper{
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .section_testimonial .col{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section_testimonial .col2 h2{
        padding: 0 8.333333333%;
    }

    .section_testimonial .col1 img{
        margin-bottom: -220px;
        z-index: 1;
        margin-left:0;
        margin-top:40px;
    }

    .section_testimonial .col1:after {
        content: "";
        height: 330px;
        width: 100%;
        display: inline-block;
        background-color: var(--color-primary-blue);
    }

    .footer .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        .logo {
            height:91px;
        }
        .col2{
            margin-top:30px;
        }
    }
   
}

@media screen and (max-width: 550px) {

    h1{
        font-size:34px;
    }

    h2{
        font-size:28px;
    }

    nav{
        padding-left:0;
        padding-right:0;
    }

    .header_main {
        position:static;
        .wrapper {
            height:75px;
        }
        &.small {
            .wrapper {
                .logo {
                    width: 150px;
                    height: 53px;
                    min-width: 150px;
    
                }
                .nav_main {
                    margin: 0 13%;
                    font-size:18px;
                    a {
                        padding-top:5px;
                        &.on {
                            border-bottom: 3px solid var(--color-primary-orange);
                        }
                    }
                }
                .btn-phone {
                    font-size: 14px;
                    font-weight:500;
                }
            }
    
        }
    }

    

    .section_dobest .wrapper h1 {
        margin: 0 auto 30px;
        text-align:center;
    }

    .section_dobest .card {
        margin:20px auto;
        width:100%;
        .image-box {
            align-items:unset;
        }
    }

    .section_dobest .wrapper .col1,
    .section_dobest .wrapper .col2{
        width:auto;
    }

    .section_dobest .wrapper .col2 > p{
        padding-left:8.333333333%;
        padding-right:8.333333333%;
    }

    .section_testimonial .col1 img {
        margin-bottom: -170px;
        z-index: 1;
        margin-left: 0;
        margin-top: 0px;
    }
    .section_testimonial .col1:after {
        height: 250px;
    }

    .section_testimonial {
        padding-top:30px;
    }

    .section_latest .mobile_col1 p{
        font-size:18px;
    }
    .section_hero h1 {
        font-size:44px;
        margin-top:40px;
    }
    .container{
        padding-top:0;
    }
    .section_hero .col{
        padding-top:25px;
    }

    .section_style .style-card-wrap .style-card {
        flex-direction:column;
        margin: 20px auto;
        width: 90%;
        min-width:unset;
        img{
            width:100%;
        }
        .col1{
            overflow:hidden;
        }
        .col2{
            button{
                margin-top:50px;
            }
        }
    }

    .footer {
        .col2{
            display:flex;
            flex-direction:column;
            .phone {
                margin-right:0;
                margin-bottom:30px;
                margin-top:50px;
            }
        }
    }
    
}